{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'Style.css' %}">
	<title>My rent</title>
</head>
<body>
<header class="navbar navbar-expand-xl navbar-light fixed-top bg-white py-5">
	{% include "includes/nav.html"%}
</header>
<main class="container mt-header">
	<div class="row" role="tablist">
		<div class="col-lg-3 d-flex flex-column nav nav-pills">
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
			<a href="{% url 'faq' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
			<a href="{% url 'logout' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
		</div>
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
					<div class="row">
						<div class="col-12 col-sm-5 d-flex flex-column align-items-center justify-items-center">
							<br>
							<br>
							<br>
							{% if user.profile.avatar %}
								<img src="{{ user.profile.avatar.url }}" class="rounded-pill mb-3" alt="">
							{% else %}
								<img src="{% static 'img/image10.png' %}" class="rounded-pill mb-3" alt="">
							{% endif %}
							{% if user.profile.first_name %}
								<h4>{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
							{% else %}
								<h4>{{ user.email }}</h4>
							{% endif %}
						</div>
						<div class="col-12 col-sm-7 d-flex flex-column">
							<form id="change-form">
								{% csrf_token %}
								<label class="fs_24 SelfStorage_green ms-2" for="EMAIL">E-mail</label>
								<input type="email" name="email" id="EMAIL" class="form-control fs_24 ps-2 SelfStorage__input" value="{{ user.username }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PHONE">Телефон</label>
								<input type="tel" name="phone_number" id="PHONE" class="form-control fs_24 ps-2 SelfStorage__input" {% if user.profile.phone_number %} value="{{ user.profile.phone_number }}"{% else %} placeholder="+7 999 999 9999" {% endif %} disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="FIRST_NAME">Ваше имя</label>
								<input type="text" name="first_name" id="FIRST_NAME" class="form-control fs_24 ps-2 SelfStorage__input" {% if user.profile.first_name %} value="{{ user.profile.first_name }}"{% else %} placeholder="Имя" {% endif %} disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="LAST_NAME">Ваша фамилия</label>
								<input type="text" name="last_name" id="LAST_NAME" class="form-control fs_24 ps-2 SelfStorage__input" {% if user.profile.last_name %} value="{{ user.profile.last_name }}"{% else %} placeholder="Фамилия" {% endif %} disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PASSWORD">Пароль</label>
								<input type="password" name="password" id="PASSWORD" class="form-control fs_24 border: 1px ps-2 SelfStorage__input" placeholder="*********" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="avatar">Загрузите свой аватар</label>
    							<input  type="file" id="avatar" name="avatar" class="form-control border: 1px ps-2 SelfStorage__input" style="font-size: 20px;" accept=".jpg, .jpeg, .png" disabled>
								<button type="submit" class="btn SelfStorage_green ps-1" id="save" style="display: none">Сохранить</button>
								<a class="btn SelfStorage_orange ps-1" id="edit">Редактировать</a>
								<script>
									document.getElementById('edit').addEventListener('click', e => {
										e.preventDefault()
										document.getElementById('EMAIL').disabled = false
										document.getElementById('PHONE').disabled = false
										document.getElementById('FIRST_NAME').disabled = false
										document.getElementById('LAST_NAME').disabled = false
										document.getElementById('PASSWORD').disabled = false
										document.getElementById('avatar').disabled = false
										document.getElementById('PASSWORD').type = 'text'
										document.getElementById('edit').style.display = 'none'
										document.getElementById('save').style.display = 'inline-block'
									})
								</script>
							</form>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					{% if user.profile.first_name %}
						<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ user.profile.first_name }}!</h1>
					{% else %}
						<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ user.email }}!</h1>
					{% endif %}
					<a href="#" class="SelfStorage_orange">История аренды</a>
					{% for order in orders %}
						{% if order.expires_soon %}
							<h4 class="SelfStorage_grey my-3">Срок Вашей аренды подходит к концу :(<br>Вы можете продлить аренду или забрать вещи до {{ order.end_date|date:"d.m.Y" }} включительно.</h4>
						{% elif order.expired %}
							<h4 class="SelfStorage_grey my-3">Срок Вашей аренды истек :(<br>Пожалуйста, свяжитесь с нами, чтобы продлить аренду или забрать вещи.</h4>
						{% endif %}
						<div class="mb-5">
							<h4 class="SelfStorage_green">{{ order.box.boxes_place.name}}</h4>
							<h4>{{ order.box.boxes_place.address }}</h4>
							<h4 class="SelfStorage_green">Мой бокс</h4>
							<h4>№{{ order.box.pk }}</h4>
							<h4 class="SelfStorage_green">Срок аренды</h4>
							<h4>{{ order.start_date|date:"d.m.Y" }} - {{ order.end_date|date:"d.m.Y" }}</h4>

							<div><a href="{% url 'prolong' order.pk %}"><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Продлить аренду</button></a></div>
							<div><a href="{% url 'profile' %}{{ order.pk }}/"><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button></a></div>

							<a href="#" class="SelfStorage_orange">Нужна помощь?</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
{% include "includes/footer.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>

</script>
<script>
	$(document).ready(function(){
        $("#change-form").submit(function (event) {
            event.preventDefault();
			let myForm = document.getElementById('change-form');
			let formData = new FormData(myForm);
			let xhr = new XMLHttpRequest();
			let csrftoken = '{{ csrf_token }}';
			xhr.open('POST', '{% url "profile_change" %}');
			xhr.setRequestHeader('X-CSRFToken', csrftoken);
			xhr.send(formData);
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4) {
					let response = JSON.parse(xhr.responseText);
					console.log(response);
					if (response.success === true)
						window.location.reload()
					else if (response.success === false)
						alert(response.message)
				}
			};
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
